//Color de las cards
$bg-gryffindor: linear-gradient(#FF0000, #FED482);
$bg-slytherin: linear-gradient(#1C792B, #82E95E);
$bg-hufflepuff: linear-gradient(#FFC700, #FFF388);
$bg-ravenclaw: linear-gradient(#0597B7, #66D1FF);

//Color de los botones            
$btn-normal: rgba(0, 0, 0, .6);
$btn-hover: rgba(107, 99, 181, .6);
$btn-activo : rgba(107, 99, 181);

//Color del menu
$bg-menu: #6B63B5;